<html>
	<head>
		<title>{{page_title}}</title>
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <!-- Bootstrap Table CDN -->
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
        <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/locale/bootstrap-table-zh-CN.min.js"></script>
        
        <!-- these will be used to add/override bootstrap styles --> 
        <!-- <link rel="stylesheet" href="static/style.css"> TESTING OTHER STYLE -->
        <link rel="stylesheet" href="css/bootstrap-adds.css">
        <style>
            .w-bg-color-1 { background-color: #2160A6; }
            .w-color-1 { color: #2160A6; }
            .showcase-background { background: black url("/static/images/shoes-dark.jpg") no-repeat fixed center; background-size: cover; }
            .showcase-background-welcome { background: black url("/static/images/clothes-store-1.jpg") no-repeat fixed center; background-size: cover; }
            h1 { color: white; }
            a[href="#about"] { color: white; }
            a[href="#about"] { text-decoration: none; }
            .about-panel .inner { background-color: white; box-sizing: border-box; }
            nav a {
                color: #AEC1FF;
                transition: .1s ease color;
            }
            nav a:hover {
                text-decoration: none;
                color: white;
            }
            .form-main {
                width: 60%;
                padding: 1.5em;
                background-color: white;
                border-radius: 5px;
            }
            .weather-nav { border-left: solid 1px; }
        </style>
    <script>

// this function converts a simple key-value object to a parameter string.
function objectToParameters(obj) {
  let text = '';
  for (var i in obj) {
    // encodeURIComponent is a built-in function that escapes to URL-safe values
    text += encodeURIComponent(i) + '=' + encodeURIComponent(obj[i]) + '&';
  }
  return text;
}

function createXmlHttp() {
  let xmlhttp;
  if (window.XMLHttpRequest) {
    xmlhttp = new XMLHttpRequest();
  } else {
    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
  }
  if (!(xmlhttp)) {
    alert("Your browser does not support AJAX!");
  }
  return xmlhttp;
}

function postParameters(xmlHttp, targetUrl, parameters) {
  if (xmlHttp) {
    console.log("Creating POST request to " + targetUrl);
    xmlHttp.open("POST", targetUrl, true); // XMLHttpRequest.open(method, url, async)
    xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    console.log("Sending parameters: " + parameters);
    xmlHttp.send(parameters);
   }
}

function sendJsonRequest(targetUrl, parameters, callbackFunction) {
  let xmlHttp = createXmlHttp();
  xmlHttp.onreadystatechange = function() {
    if (xmlHttp.readyState == 4) {
      // note that you can check xmlHttp.status here for the HTTP response code
      try {
        let myObject = JSON.parse(xmlHttp.responseText);
        callbackFunction(myObject, targetUrl, parameters);
      } catch (exc) {
        showError("There was a problem at the server.");
      }
    }
  }
  postParameters(xmlHttp, targetUrl, parameters);
}

// This can load data from the server using a simple GET request.
function getData(targetUrl, callbackFunction) {
  let xmlHttp = createXmlHttp();
  xmlHttp.onreadystatechange = function() {
    if (xmlHttp.readyState == 4) {
      // note that you can check xmlHttp.status here for the HTTP response code
      try {
        let myObject = JSON.parse(xmlHttp.responseText);
        callbackFunction(myObject, targetUrl);
      } catch (exc) {
        showError("There was a problem at the server.");
      }
    }
  }
  // parameters: method="GET", url=targetUrl, asynchronous=true
  console.log("Creating GET request to: " + targetUrl);

  xmlHttp.open("GET", targetUrl, true);
  xmlHttp.send();
}

function showError(msg) {
  let errorAreaDiv = document.getElementById('ErrorArea');
  errorAreaDiv.display = 'block';
  errorAreaDiv.innerHTML = msg;
}

function hideError() {
  let errorAreaDiv = document.getElementById('ErrorArea');
  errorAreaDiv.display = 'none';
}

    </script>
	</head>
	<body>

        <!-- NAVIGATION -->
	    <nav class="navbar px-5 py-3 w-bg-color-1">
            {% if not user %}
                <a href="/welcome" class="nav-link">Welcome</a> <!-- try this for a landing page? welcome.html changed in app.yaml -->
                <a href="/welcome#about" class="nav-link">About</a>
            {% else %}
                <a href="/welcome" class="nav-link">Home</a> <!-- TEMPLATING WILL CHANGE BASED ON LOGGED IN OR NOT -->
                <a href="/wardrobe" class="nav-link">Wardobe</a> <!-- was /Index prior --> 
            {% endif %}
            <div class="ml-md-auto navbar-nav bd-navbar-nav flex-row">
                {% if not user %}
                    <a href="/signup" class="nav-link p-3">Sign Up</a>
                    <a href="/signin" class="nav-link p-3">Sign In</a>
                    
                {% else %}           
                    <a href="#" class="nav-link p-3">{{user}}</a>
                    <a href="/signout" class="nav-link p-3">Sign Out</a> 
                {% endif %}
                    <a id = "Location" class="nav-link p-3 weather-nav">Pittsburgh, PA</a><!-- Auto via API I assume -->
                    <a id = "Temp" class="nav-link p-3 weather-nav"></a><!-- Auto via API I assume -->
            </div>
        </nav>

        <!-- User error messages -->
        {% if errors %}{% for error in errors %}
		    <div class="p-3 alert alert-danger">{{error}}</div>
        {% endfor %}{% endif %}

        <!-- MAIN CONTENT -->
        {% block content %}{% endblock %}
    </body>
    <!-- scrolling for html markers --> 
    <script type="text/javascript">
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
            e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>

    <script>
        if ('geolocation' in navigator){
            console.log('geolocation available');
            navigator.geolocation.getCurrentPosition(position => {
                console.log(position.coords.latitude);
                console.log(position.coords.longitude);
                const lat = position.coords.latitude;
                const lon = position.coords.longitude;

                const data = {lat, lon};

                const xhr = new XMLHttpRequest();
                
                xhr.onload = function(){
                    const serverResponse = document.getElementById("Temp");
                    const serverResponse2 = document.getElementById("Location");
                    var res = this.responseText.split(":");
                    console.log(this.responseText);
                    console.log(res[0]);
                    serverResponse.innerHTML = res[0];
                    serverResponse2.innerHTML = res[1];
                }
                xhr.open("POST", "/coordinates");
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.send(JSON.stringify(data));
            },
            function error() {
                console.log("Unable to get location");
                const lat = null;
                const lon = null;

                const data = {lat, lon};

                const xhr = new XMLHttpRequest();
                
                xhr.onload = function(){
                    const serverResponse = document.getElementById("Temp");
                    const serverResponse2 = document.getElementById("Location");
                    var res = this.responseText.split(":");
                    console.log(this.responseText);
                    console.log(res[0]);
                    serverResponse.innerHTML = res[0];
                    serverResponse2.innerHTML = res[1];
                }
                xhr.open("POST", "/coordinates");
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.send(JSON.stringify(data));
            });
        }else {
            console.log('geolocation not available');
                const lat = null;
                const lon = null;

                const data = {lat, lon};

                const xhr = new XMLHttpRequest();
                
                xhr.onload = function(){
                    const serverResponse = document.getElementById("Temp");
                    const serverResponse2 = document.getElementById("Location");
                    var res = this.responseText.split(":");
                    console.log(this.responseText);
                    console.log(res[0]);
                    serverResponse.innerHTML = res[0];
                    serverResponse2.innerHTML = res[1];
                }
                xhr.open("POST", "/coordinates");
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.send(JSON.stringify(data));
        }
    </script>