{% extends '_base.html' %}
{% block content %}
<div>
	<div>
		<button onclick="generateOutfits();">Generate Outfits</button>
		<div id="OutfitDisplay"></div>
	</div>
	Click the "Generate Outfits" button to view ideas on possible outfits
		The "Generate Outfits" button looks at the weather for the day as well as the clothes you have saved in your
		Wardrobe to create a selection of outfits that are weather appropriate.
</div>
<div>
	<div>
		<button onclick="getWeather();">Get Weather</button>
		<div id="WeatherDisplay"></div>
	</div>
	The "Get Weather" button is a test button that is used here to test that we can make weather API calls and display that info
		This information is based on location
		We will need some way to get the users location coordinates (lat and long)
	Current Location: Pittsburgh, PA
</div>

<script>

function generateOutfits(){
	//does nothing right now!
	//would call a method from _base that handles ajax
}

function getWeather(){
	//getData('/w', displayWeather);
}

// when we get a response, this function is called.  we use it to update the 
// content in the page.
function displayWeather(result, targetUrl) {
  if (result.Currently) {
    document.getElementById('WeatherDisplay').innerHTML = result.Currently;
  } else {
    showError("Something went wront - result.Currently failed in if.");
  }
}

</script>
{% endblock %}