{% extends '_base.html' %}
{% block content %}
<div>{% if errors %}{% for error in errors %}
	<div class="Error">{{error}}</div>
	{% endfor %}{% endif %}
</div>
<form method="post" action="/login">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="input" name="username"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>
    </table>
</form>
{% endblock %}