{% extends '_base.html' %}
{% block header %}
My Current Wardrobe
{% endblock %}
{% block content %}
<p>Click "Add Item" to add a new article of clothing to your Wardrobe<br>
   Click "Remove Item" to remove an article of clothing</p>
<div>
    <button onclick="addClothes();">Add Item</button>
    <button onclick="remClothes();">Remove Item</button>
</div>

<script>
//Bootstrap tables look pretty good and work with ajax I believe. Best bet could be to populate a bootstrap table from the DB for the users clothes
//allows for easy selection/viewing/sorting
//can remove from the table -> and the Db
//and have a form where we define and create a new clothing item which is added to the table and db
//bootstrap cdn imports are in the head in base.html

function addClothes(){
	//provides a form for the user to enter information on their clothing item
    //this will create a new clothing item that will be displayed in wardrobe and added to database
}

function remClothes(){
	//Selected item(s) will be removed from the user's wardrobe and also from the database
    //
}

</script>
{% endblock %}