{% extends '_base.html' %}
{% block content %}

    <div class="container-fluid vh-100">
        {% if errors %}{% for error in errors %}
            <div>
                <div class="Error">{{error}}</div>
            </div>
        {% endfor %}{% endif %}

        <div class="row min-vh-100 justify-content-center align-items-center showcase-background-welcome">
            <div class="col-sm-9">
                <h1>picking your clothes for you</h1>
                <a href="#about" class="btn btn-secondary w-bg-color-1">Learn More</a>
            </div>
        </div>

        <div class="row min-vh-100 showcase-background" id="about">
            <div class="row w-100 h-45 mx-auto align-items-center">
                <div class="col-sm-6 about-panel my-3 w-color-1">
                    <div class="inner p-5">
                        <h2>Your Wardrobe.</h2>
                        <p>Our wardrobe application will generate outfits for you based on the clothes you own.</p>
                    </div>
                </div>
                <div class="col-sm-6 about-panel my-3 w-color-1">
                    <div class="inner p-5">
                        <h2>How's the weather?</h2>
                        <p>Using Darksky we will recommend outfits that fit the weather. Need an umbrella? We'll let you know!</p>
                        <form action="/w">
                            <button name="weatherBtn" type="submit">What's the temp?</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row w-100 h-45 mx-auto align-items-center">
                <div class="col-sm-6 about-panel my-3 w-color-1">
                    <div class="inner p-5">
                        <h2>Interview tomorrow?</h2>
                        <p>We can help pick out your job earning outfit for your special day. We have your back whether you need to choose a the perfect outfit for your interview, or just want to have something comfy while friends are over.</p>
                    </div>
                </div>
                <div class="col-sm-6 about-panel my-3 w-color-1">
                    <div class="inner p-5">
                        <h2>Why choose us?</h2>
                        <p>Picking out a simple the outfit for the day or even the future is too time consuming when you have to plan for the weather, style, and match colors. We can do it all for you.</p>
                    </div>
                </div>
            </div>
            {% if not user %}
                <div class="row w-100 h-10 justify-content-center align-items-center">
                    <a href="/signup" class="m-3 btn btn-secondary display w-bg-color-1 btn-lg">Sign up</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}